{{ header }} {% if (1 == 0) %}
<div id="common-maintenance" class="container">
  <div class="row">
    <div class="col-12">{{ message }}</div>
  </div>
</div>
{% endif %} {{ livemmode_message }} {{ footer }}